.DungeonDetails-root {
  display: flex;
  flex-direction: column;
}

.DungeonDetails-section {
  margin: 16px;
}

.DungeonDetails-header {
  display: flex;
  flex-flow: row wrap;
}
.DungeonDetails-header > * {
  margin: 2px 8px;
}
.DungeonDetails-header > a {
  text-decoration: none;
  border-bottom: 1px dashed #808080;
}

.DungeonDetails-notes {
  list-style: none;
  margin: 0;
}
.DungeonDetails-notes:not(:empty) {
  padding: 8px;
}
.DungeonDetails-notes > li {
  display: flex;
  align-items: center;
  line-height: 32px;
}
.DungeonDetails-notes > li::before {
  content: '-';
  display: block;
  margin-right: 4px;
}
.DungeonDetails-notes-card {
  display: inline-block;
}

.DungeonDetails-stats {
  display: flex;
  flex-flow: row wrap;
  margin-top: 16px;
}
.DungeonDetails-stats-entry {
  min-height: 40px;
  width: 25%;
  display: flex;
  align-items: center;
}
.DungeonDetails-stats-header {
  font-weight: bold;
  width: 40%;
}
.DungeonDetails-stats-value {
  width: 60%;
}

.DungeonDetails-wave-header {
  display: flex;
  align-items: baseline;
}
.DungeonDetails-wave-type {
  margin-left: 32px;
}

.DungeonDetails-wave-details {
  display: flex;
  flex-direction: column;
}

.DungeonDetails-enemy:not(:last-child) {
  border-bottom: 1px solid #808080;
}

@media (max-width: 600px) {
  .DungeonDetails-section {
    margin: 8px 0;
  }
  .DungeonDetails-stats-entry {
    width: 100%;
  }
}