.EnemySkills-root {
  padding: 0;
}

.EnemySkills-action {
  display: flex;
  flex-direction: column;
}

.EnemySkills-action-item {
  list-style: none;
  padding: 16px 8px;
  display: flex;
  flex-direction: row;
}
.EnemySkills-action-item:not(:last-child) {
  border-bottom: 1px solid #808080;
}

.EnemySkills-action-label {
  width: 32px;
  text-align: center;
  margin-right: 16px;
}

.EnemySkills-action-list {
  display: flex;
  flex-direction: column;
  padding: 0;
  flex: 1;
}

.EnemySkills-action-list > li {
  list-style: none;
}

.EnemySkills-action-header {
  display: flex;
  flex-direction: row;
  align-items: baseline;
}
.EnemySkills-action-header > h3 {
  margin-right: 32px;
}
.EnemySkills-action-header:nth-child(2) {
  margin-bottom: 8px;
}

.EnemySkills-skill {
  display: inline-block;
}

.EnemySkills-condition:last-child, .EnemySkills-prob:last-child {
  flex: 1;
  text-align: right;
  margin: initial;
}

.EnemySkills-action {
  flex: 1;
}
.EnemySkills-skill {
  margin-left: 32px;
  min-height: 32px;
}
.EnemySkills-skill > .EnemySkills-skill {
  margin-left: 0;
}

.EnemySkills-action-sequence {
  border: 1px solid #606060;
  padding: 8px;
}

.EnemySkills-icon, .EnemySkills-icon-box {
  vertical-align: middle;
}

.EnemySkills-damage {
  font-weight: bold;
}

.EnemySkills-board-marks {
  display: inline-block;
}

.EnemySkills-card-list {
  display: inline-flex;
  flex-direction: row;
  vertical-align: middle;
}

.EnemySkills-raw-icon {
  margin-top: 8px;
}
.EnemySkills-raw-data {
  white-space: pre;
  font-family: monospace;
  padding: 16px;
  min-width: 400px;
  max-height: 300px;
  overflow-y: auto;
}

@media (max-width: 600px) {
  .EnemySkills-skill {
    margin-left: 0;
  }

  .EnemySkills-action-header {
    flex-direction: column;
  }
}