.AppHeader-root {
  padding: 0 8px;
  min-height: 56px !important;
}

.AppHeader-header {
  width: calc(100% - 56px);
  max-width: 600px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.AppHeader-title {
  text-decoration: none;
  margin-left: 20px;
  padding: 4px;
  font-weight: bold;
  font-size: 16px;
}

.AppHeader-menu {
  width: 40px;
  height: 40px;
}