.AppRoot-content {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.AppRoot-error {
  padding: 16px;
}
.AppRoot-error > * {
  margin: 16px;
}
.AppRoot-error-stack {
  white-space: pre;
  font-family: monospace;
}

@media (min-width: 1280px) {
  .AppRoot-content {
    margin-left: 320px;
    width: calc(100% - 320px);
  }
}