.AppSearch-root {
  position: relative;
  min-height: 48px;
}

.AppSearch-adornment {
  width: 32px;
  align-self: center;
}

.AppSearch-field {
  height: 100%;
}

.AppSearch-dropdown {
  position: absolute;
  left: 0;
  right: 0;
  z-index: 10000;
}