.CardInfo-root {
  flex: 1;
  display: flex;
  flex-direction: row;
  padding: 16px;
  justify-content: center;
}

.CardInfo-content {
  flex: 1;
  max-width: 900px;
  position: relative;
}

.CardInfo-option-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.CardInfo-option-title {
  margin: 0 8px;
  text-transform: uppercase;
}
.CardInfo-option-title:first-child {
  margin-top: 8px;
}

@media (max-width: 600px) {
  .CardInfo-root {
    display: block;
    padding: 0;
    width: 100%;
  }
}