.CardInfo-root {
  flex: 1;
  display: flex;
  flex-direction: row;
  padding: 16px;
  justify-content: center;
}

.CardInfo-prev {
  order: 0;
}

.CardInfo-content {
  flex: 1;
  max-width: 900px;
  order: 1;
  position: relative;
}

.CardInfo-next {
  order: 2;
}

.CardInfo-options {
  position: absolute;
  top: 16px;
  right: 16px;

  padding: 4px;
  border: 1px solid #808080;
  line-height: 0;
}

.CardInfo-option-list {
  margin: 0;
  padding: 0;
  width: max-content;

  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.CardInfo-option-list > li {
  list-style: none;
}

.CardInfo-option-list > li > * {
  width: 100%;
  display: block;
}

.CardInfo-option-title {
  margin: 8px;
  text-transform: uppercase;
}

@media (max-width: 600px) {
  .CardInfo-root {
    display: block;
    padding: 0;
    width: 100%;
  }
  .CardInfo-content {
    height: 100%;
    overflow-y: auto;
  }
  .CardInfo-prev {
    position: fixed;
    right: 56px;
    top: 0;
    min-width: 56px;
    min-height: 56px;
    z-index: 1200;
  }
  .CardInfo-next {
    position: fixed;
    right: 0;
    top: 0;
    min-width: 56px;
    min-height: 56px;
    z-index: 1200;
  }

  .CardInfo-options {
    position: fixed;
    right: 112px;
    top: 0;
    min-width: 56px;
    min-height: 56px;
    z-index: 1200;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}