.CardInfo-root {
  flex: 1;
  display: flex;
  flex-direction: row;
  padding: 16px;
  justify-content: center;
}

.CardInfo-prev {
  order: 0;
}

.CardInfo-details {
  width: 900px;
  order: 1;
}

.CardInfo-next {
  order: 2;
}