.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  line-height: 1.5;
  max-width: 800px;

  section {
    background: #303030;
    border: solid 1px #101010;
    margin: 16px;
    padding: 8px;
    width: 100%;
  }

  .picture {
    line-height: 0;
    width: auto;
  }

  .summary {
    display: flex;
    flex-direction: row;
    align-items: center;

    .title {
      font-size: 16pt;
    }
    .basic {
      margin: 0 16px 0 16px;
      flex: 1;
    }
    .extended {
      td {
        padding: 4px 16px 0 16px;
        .spacer {
          margin: 16px;
        }
      }
      tr:first-child td {
        border-bottom: solid 1px #808080;
      }
    }
  }

  .stats {
    table {
      text-align: center;
      width: 100%;
    }
    td, th {
      width: 25%;
      padding: 4px;
    }
  }

  .skills {
    padding: 4px 16px 4px 16px;
    .info {
      display: flex;
      flex-direction: row;
      .spacer {
        flex: 1;
      }
      .label {
        margin-right: 24px;
      }
      .item {
        margin-left: 16px;
      }
    }
    hr {
      border: solid 0.5px #808080;
    }
  }
}