.HoverPopup-root {
  position: relative;
}

.HoverPopup-popup-root {
  pointer-events: none;
  position: fixed;
  z-index: 1200;
}

.HoverPopup-popup {
  pointer-events: none;
  position: absolute;
  margin-left: 16px;
  margin-top: 16px;
  transform-origin: top left;
}