.HoverPopup-root {
  position: relative;
  cursor: pointer;
}

.HoverPopup-popup-root {
  pointer-events: none;
}
.HoverPopup-popup {
  pointer-events: auto;
  position: absolute;
}

.HoverPopup-popup-left {
  right: 0;
  transform-origin: top right;
}
.HoverPopup-popup-right {
  left: 0;
  transform-origin: top left;
}
.HoverPopup-popup-pointer {
  pointer-events: none;
  margin-left: 16px;
  margin-top: 16px;
  transform-origin: top left;
}